html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: rgb(18, 0, 31);
  color: white;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  font-display: swap;
  transition: 0.5s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  background-color: beige;
  overflow: auto;
}

.hubungi-kami {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  font-size: 3rem;
  background: linear-gradient(rgb(86, 197, 86), rgb(63, 109, 63));
  color: white;
  transition: 0.3s ease-in-out;
}

.hubungi-kami:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .hubungi-kami {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}

.hubungi-kami-telephone {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
  left: 30px;
  bottom: 30px;
  z-index: 9999;
  font-size: 2rem;
  background: linear-gradient(rgb(17, 137, 153), rgb(8, 85, 148));
  color: white;
  transition: 0.3s ease-in-out;
}

.hubungi-kami-telephone:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .hubungi-kami-telephone {
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}

#scrollToTopBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 130px;
  right: 50px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 9999;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

#scrollToTopBtn:hover {
  background-color: grey;
}

@media screen and (max-width: 600px) {
  #scrollToTopBtn {
    width: 30px;
    height: 30px;
    bottom: 100px;
    right: 40px;
    padding: 5px;
    font-size: 1rem;
  }
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: transparent;
  z-index: 9999;
}

header .header-column-1 {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  background-color: white;
}

header .header-column-1 a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  padding: 5px 10px;
  color: black;
}

header .header-column-1 i {
  color: tomato;
}

@media screen and (max-width: 600px) {
  header .header-column-1 a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 420px) {
  header .header-column-1 {
    justify-content: center;
  }

  header .header-column-1 a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 280px) {
  header .header-column-1 {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

header .header-column-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: tomato;
}

header .header-column-2 div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  height: 8vh;
}

header .header-column-2 .logo-text {
  width: 50%;
  justify-content: start;
}

header .header-column-2 .logo-text img {
  width: 40px;
  height: 40px;
}

header .header-column-2 .logo-text h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: center;
  padding: 0px 20px;
}

header .header-column-2 .main-menu a {
  font-family: Acme;
  font-size: 1.2rem;
  color: whitesmoke;
}

header .header-column-2 .main-menu a:hover {
  transform: scale(1.1);
}

header .header-column-2 .hamburger-menu {
  cursor: pointer;
  display: none;
  width: 5%;
  font-size: 2rem;
  font-weight: 600;
  color: whitesmoke;
}

#mainMenu.clicked {
  transform: scaleY(1);
}

@media screen and (max-width: 768px) {
  header .header-column-2 .main-menu {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    width: 97%;
    height: 40vh;
    padding: 0px 10px;
    top: 82px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 99, 71, 0.5);
  }

  header .header-column-2 .main-menu a {
    color: black;
  }

  header .header-column-2 .hamburger-menu {
    display: flex;
  }

  header .header-column-2 .logo-text {
    width: 80%;
    justify-content: start;
  }
}

@media screen and (max-width: 420px) {
  header .header-column-2 .main-menu {
    top: 77px;
  }

  header .header-column-2 .main-menu a {
    font-size: 1rem;
  }

  header .header-column-2 .hamburger-menu {
    font-size: 1rem;
  }

  header .header-column-2 .logo-text h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px) {
  header .header-column-2 .main-menu {
    top: 102px;
  }
}

main {
  padding: 10rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: auto;
  overflow: hidden;
}

main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  padding: 0px 1rem;
}

main section > div {
  max-width: 350px;
  min-width: 200px;
  padding: 20px;
  flex: 1 1 auto;
  background-color: rgb(255, 99, 71, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

main section > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

main section h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: yellow;
}

main section p {
  font-size: 1rem;
  line-height: 1.5;
  color: whitesmoke;
}

main section span {
  padding: 0px 5px;
  border-radius: 5px;
  background-color: rgb(111, 204, 111);
  color: white;
}

main section .harga-kabel {
  margin-top: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: #ffe988;
}

main section .icon {
  margin-right: 5px;
  color: #007bff;
}

@media screen and (max-width: 768px) {
  main section div h1 {
    font-size: 1.2rem;
  }

  main section div p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  main section div h1 {
    font-size: 1rem;
  }

  main section div p {
    font-size: 0.9rem;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 40px 0px;
  background-color: rgb(51, 51, 51);
  gap: 30px;
}

footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 500px;
  flex: 1 auto;
  height: 35vh;
  gap: 20px;
  padding: 30px;
}

footer .foot-item-1 {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 10vh;
}

footer .foot-item-1 img {
  width: 60px;
  height: 60px;
}

footer .foot-item-1 p {
  font-family: Oxygen;
  font-size: 1.2rem;
  color: white;
}

@media screen and (max-width: 420px) {
  footer .foot-item-1 img {
    width: 40px;
    height: 40px;
  }

  footer .foot-item-1 p {
    font-size: 1rem;
  }
}

footer .foot-item-2 {
  justify-content: start;
}

footer .foot-item-2 h1 {
  font-size: 1.5rem;
  color: white;
}

footer .foot-item-2 p {
  font-size: 1.2rem;
  color: white;
}

footer span {
  width: 90%;
  height: 1px;
  background-color: whitesmoke;
}

footer .copyright {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  width: 80%;
}

@media screen and (max-width: 420px) {
  footer .foot-item-2 h1 {
    font-size: 1.2rem;
  }

  footer .foot-item-2 p {
    font-size: 1rem;
  }
}
