/* wa-btn */
.Wa-btn{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 80px 25px;
    z-index: 999;
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50px;
    animation: beat 0.5s linear alternate-reverse infinite;
    
}


.Wa-btn i{
    color: white;
    transform: scale(1.9);
    transition: 2s infinite;
}


/* scroll-to-top */
.Scroll i{
    color: black;
}

.Scroll button{

    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    margin: 20px;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.508);
    border: none;
    width: 30px;
    height: 30px;
    transition: 0.2s linear;
    z-index: 999;
}

.Scroll button:hover{
    background-color: white;
}


@keyframes beat {

    to{
        transform: scale(1.2);
    }
    
}