.harga{
    display: flex;
    width: 100%;
    height: 30%;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
}

.harga h1{
 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 5px;
    color: white;
}

.harga div {
    align-items: center;
    margin: 10px 0 0 0;
    justify-content: center;
    width: 90%;
    height: 30%;
    border-radius: 10px;
    background-color: white;
    
}

@media screen and (max-width:540px) {

    .harga h1{
        font-size: 25px;
    }
    
}